body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 159, 159);
}

.container{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.8);
}

.submit {
    margin: 10px 3px;
    background-color: rgb(91, 193, 94);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
}

.submit:hover {
    background-color: rgb(91, 165, 93);
}

.submit:active {
    background-color: rgb(62, 135, 64);
}

.preset {
    color: rgb(91, 80, 247);
    background: none;
	border: none;
	padding: 0;
	font: inherit;
}

.preset:hover { 
    color: rgb(12, 12, 185);
}

.preset:active {
    color: rgb(0, 0, 0);
}

.isDisabled{
    color: grey;
    pointer-events: none;
}

@media screen and (min-width: 530px) {
    .container{
        min-width: 470px;
        max-width: 550px;
        margin-top: 60px;
    }

    .previous-request{
        display: flex;
        justify-content: space-between;
        border-style: groove;
        margin: 5px 0;
        padding: 10px;
    }

    .previous-data{
        margin: 0 5px;
    }

    .date-input{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .property {
        display: inline;
    }

    .end-date-container{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 530px) {
    body {
        display: block;
    }

    .container{
        max-width: auto;
    }

    .previous-request{
        border-style: groove;
        padding: 5px;
    }

    body {
        font-size: large;
    }

    .previous-data{
        margin: 10px;
    }

    .date-presets {
        display: flex;
    }

    .end-date-container {
        margin-bottom: 20px;
    }

    .preset {
        margin: 15px 30px 20px 0 ;
    }
}