body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.isDisabled{
    color: grey;
    /* display: inline-block; */
    pointer-events: none;
  }

.container{
    min-width: 470px;
    max-width: 550px;
}

.end-date-container{
    display: flex;
    align-items: center;
}

.previous-data{
    margin: 0 5px;
}

.previous-request{
    display: flex;
    justify-content: space-between;
    border-style: groove;
    margin: 5px 0;
    padding: 10px;
}

.date-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    margin: 10px 0;
}